@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Staatliches&display=swap');

*{
      background-color: black;
      font-family: 'Staatliches', cursive;
      font-size: 14px;
      text-align: left;
      margin: auto;
      color: white;
      /* display: block; */

}

h1{
      font-size: 60px;
      text-align: center;
}
label{
      
      color: white;
      margin: 80px 20px 80px 0px;
      font-size: 60px;
      display: inline-block;
}

#moedas{   
      width: 300px; /*largura*/
      height: 80px; /*altura*/
      padding-top: 15px;
      padding-bottom: 15px;
      background: white;
      color: black;
      border-width: 10px;
      border-color: white;
      border-radius: 10px;
      font-size: 20px;
      margin: 30px;
      display: inline-block;
}
option{
      font-size: 20px; 
      font-family: 'Fira Sans', sans-serif;
}
button{
    background:  red;
    color: white;
    border: 0;
    border-radius: 20px;
    width: 300px; /* largura */
    height: 75px;
    text-align: center;
    margin: 20px ;
    font-size: 20px;
    display: inline-block;
}
p{
      /* text-align: center; */
      font-size: 20px;
      font-family: 'Fira Sans', sans-serif;
}
